@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --main-text-color: $hh-100;
}

$hh-50: #f0f1f2;
$hh-100: #e1e4e5;
$hh-200: #d0d7da;
$hh-300: #becad0;
$hh-400: #abbec7;
$hh-500: #97b2bf;
$hh-600: #7896a5;
$hh-700: #607884;
$hh-800: #33404d;
$hh-900: #343b3e;
$hh-950: #1b1d1e;

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --main-text-color: $hh-100;
  }
}

* {
  box-sizing: border-box;
  position: relative;
  min-width: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  min-height: 100dvh;
  margin: 0;
  color: var(--main-text-color);

  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  max-width: 100%;
}
p {
  text-wrap: pretty;
  max-width: 70ch;
}
textarea {
  field-sizing: content;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
}

video,
canvas,
picture {
  display: block;
  max-width: 100%;
  height: auto;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
}

button,
input,
select,
textarea,
form {
  &:focus,
  &:focus-visible,
  &:focus-within {
    outline: 2px solid $hh-900;
  }
}

@mixin truncate($lines) {
  position: relative;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
  overflow: hidden;
}

@for $i from 1 through 10 {
  .truncate-#{$i} {
    @include truncate($i);
  }
}

@mixin stackedCard($i) {
  z-index: calc(150 / $i);
  bottom: calc(5% * ($i - 1));
  width: calc(95% - $i * 2.5%);
  transition: all 0.2s ease-in-out;
  background-color: $hh-600;
  backdrop-filter: opacity(1 - 0.1 * $i);
}

@for $i from 1 through 3 {
  .stackedCard-#{$i} {
    @include stackedCard($i);
  }
}

@mixin appearCard($i) {
  @keyframes appear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  animation: appear 0.5s ease-in-out calc(0.1s * $i) forwards;
}

@for $i from 1 through 3 {
  .appearCard-#{$i} {
    @include appearCard($i);
  }
}

.stackedCards:hover {
  z-index: 300;
  .stackedCard-1 {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
    scale: 1.01;
  }
  .stackedCard-2 {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
    transform: translateX(-70%) scale(1.01) rotate(-10deg);
    &:hover {
      z-index: 200;
    }
  }
  .stackedCard-3 {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
    transform: translateX(-30%) scale(1.01) rotate(10deg);
    &:hover {
      z-index: 200;
    }
  }
}
.linkBack {
  .linkArrow {
    left: 0;
  }
  &:hover {
    .linkArrow {
      transition: all 0.2s ease-in-out;
      left: -0.25rem;
    }
  }
}

.scrollButton {
  opacity: 0;

  &:focus {
    opacity: 100;
  }
  @media (min-width: 768px) or (pointer: fine) {
    opacity: 100;
  }
}
.scrollable-container:hover {
  .scrollButton {
    opacity: 1;
  }
}

.horizontalScrollbar {
  scroll-snap-align: start;
  scroll-snap-type: x mandatory;
  cursor: pointer;
}
.horizontalScrollbar::-webkit-scrollbar-thumb {
  border-radius: 1rem;
}

.horizontalScrollbar::-webkit-scrollbar {
  border-radius: 1rem;
  height: 0.5rem;
  transition: all 1s ease-in-out;
  background-color: hsl(60, 0%, 95%);
  @media screen and (min-width: 768px) {
    height: 0.75rem;
  }
}

.verticalScrollbar {
  scroll-snap-align: start;
  scroll-snap-type: y mandatory;
  cursor: pointer;
}
.verticalScrollbar::-webkit-scrollbar-thumb {
  border-radius: 1rem;
}

.verticalScrollbar::-webkit-scrollbar {
  border-radius: 1rem;
  width: 0.5rem;
  transition: all 1s ease-in-out;
  background-color: hsl(60, 0%, 95%);
  @media screen and (min-width: 768px) {
    width: 0.75rem;
  }
}

.scrollbarThumb300::-webkit-scrollbar-thumb {
  background-color: $hh-300;
  cursor: grab;
  &:active {
    cursor: grabbing;
  }
}

.scrollbarThumb500::-webkit-scrollbar-thumb {
  background-color: $hh-500;
  cursor: grab;
  &:active {
    cursor: grabbing;
  }
}

.scrollbarThumb800::-webkit-scrollbar-thumb {
  background-color: $hh-800;
  cursor: grab;
  &:active {
    cursor: grabbing;
  }
}

.laterneIcon {
  background-image: url("/assets/icons/laterne/latMapIcon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}

.laterneWalkerIcon {
  background-image: url("/assets/icons/laterne/laterne.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}

.clusterIconFlohmarkt {
  background: radial-gradient(circle, #7b3e5e, #7b3e5e 50%, #7b3e5e80 50%);
  &:hover {
    background: radial-gradient(circle, #7b3e5e, #7b3e5e 50%, #7b3e5db9 50%);
  }
}
.clusterIconPost {
  background: radial-gradient(circle, #33404d, #33404d 50%, #33404d80 50%);
  &:hover {
    background: radial-gradient(circle, #33404d, #33404d 50%, #33404db9 50%);
  }
}

.clusterIconSpielplatz {
  background: radial-gradient(circle, #405b3a, #405b3a 50%, #405b3a80 50%);
  &:hover {
    background: radial-gradient(circle, #405b3a, #405b3a 50%, #405b3ab9 50%);
  }
}
.clusterIconEvent {
  background: radial-gradient(circle, #de6c13, #de6c13 50%, #de6c1380 50%);
  &:hover {
    background: radial-gradient(circle, #de6c13, #de6c13 50%, #de6c13b9 50%);
  }
}

.clusterIcon {
  height: 2rem;
  width: 2rem;
  padding-bottom: 1px;
  border-radius: 50%;
  color: $hh-100;
  font-size: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  line-height: 1.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
}

#post-template-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  @media screen and (min-width: 1024px) {
    display: grid;
    gap: 1rem;
    align-items: start;
    grid-template-columns: 300px 1fr;
    grid-template-rows: min-content 1fr;
    grid-template-areas:
      "buttons buttons"
      "details text";
  }
  @media screen and (min-width: 1200px) {
    grid-template-columns: 400px 1fr;
  }
  #template-top-links {
    grid-area: buttons;
  }
  #text {
    grid-area: text;
  }
  #details {
    grid-area: details;
  }
}
#flohmarkt-template {
  container-type: inline-size;
}

#FT-Flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#FT-Grid {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@container (min-width: 768px) {
  #FT-Grid {
    display: grid;
    justify-content: center;
    align-items: start;
    grid-template-columns: 300px 1fr;
    grid-template-rows: min-content 1fr auto;
    grid-template-areas:
      "image hero"
      "locationdate hero"
      "externallink externalLink";
  }
  // @media screen and (min-width: 768px) {
  //   display: grid;
  //   justify-content: center;
  //   align-items: start;
  //   grid-template-columns: 300px 1fr;
  //   grid-template-rows: min-content 1fr auto;
  //   grid-template-areas:
  //     "image hero"
  //     "locationdate hero"
  //     "externallink externalLink";
  // }
}
@container (min-width: 1024px) {
  #FT-Grid {
    background: #000;
    grid-template-columns: minmax(300px, 400px) minmax(60%, 1fr);
  }
}
#FT-image {
  grid-area: image;
}
#flohmarkt-hero {
  grid-area: hero;
}
#external-link {
  grid-area: externalLink;
}
#location-date {
  grid-area: locationdate;
}

#searchInputForm {
  &:has(input:focus-visible) {
    border-color: $hh-800;
  }
}

.deleteFilterButton:hover,
.deleteFilterButton:focus,
.deleteFilterButton:active {
  svg {
    stroke: #982a1c;
  }
}

.deleteFilterButton:hover {
  svg {
    fill: $hh-50;
    width: 1.5rem !important;
  }
}
