@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

$hh-50: #f0f2f5;
$hh-100: #e3e8ed;
$hh-200: #c8d1da;
$hh-300: #acbac8;
$hh-400: #91a3b6;
$hh-500: #758ca3;
$hh-600: #5c738a;
$hh-700: #47596b;
$hh-800: #33404d;
$hh-900: #1f262e;
$hh-950: #141a1f;
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
  position: relative;
  min-width: 0;
  scroll-behavior: smooth;
}

body {
  min-height: 100dvh;
  margin: 0;
  color: $hh-900;

  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
p {
  text-wrap: pretty;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
}

video,
canvas,
picture {
  display: block;
  max-width: 100%;
  height: auto;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
}
@mixin truncate($lines) {
  position: relative;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
  overflow: hidden;
}

@for $i from 1 through 10 {
  .truncate-#{$i} {
    @include truncate($i);
  }
}

@mixin stackedCard($i) {
  z-index: calc(150 / $i);
  bottom: calc(5% * ($i - 1));
  width: calc(95% - $i * 2.5%);
  transition: all 0.2s ease-in-out;
  background-color: $hh-600;
  backdrop-filter: opacity(1 - 0.1 * $i);
}

@for $i from 1 through 3 {
  .stackedCard-#{$i} {
    @include stackedCard($i);
  }
}

@mixin appearCard($i) {
  @keyframes appear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  animation: appear 0.5s ease-in-out calc(0.1s * $i) forwards;
}

@for $i from 1 through 3 {
  .appearCard-#{$i} {
    @include appearCard($i);
  }
}

.stackedCards:hover {
  z-index: 300;
  .stackedCard-1 {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
    scale: 1.01;
  }
  .stackedCard-2 {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
    transform: translateX(-70%) scale(1.01) rotate(-10deg);
    &:hover {
      z-index: 200;
    }
  }
  .stackedCard-3 {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
    transform: translateX(-30%) scale(1.01) rotate(10deg);
    &:hover {
      z-index: 200;
    }
  }
}
.linkBack {
  .linkArrow {
    left: 0;
  }
  &:hover {
    .linkArrow {
      transition: all 0.2s ease-in-out;
      left: -0.25rem;
    }
  }
}
.horizontalScrollbar {
  scroll-snap-align: start;
  scroll-snap-type: x mandatory;
}
.horizontalScrollbar::-webkit-scrollbar-thumb {
  border-radius: 1rem;
}

.horizontalScrollbar::-webkit-scrollbar {
  border-radius: 1rem;
  height: 0.3rem;
  transition: all 1s ease-in-out;
  background-color: transparent;
}

.horizontalScrollbar::-webkit-scrollbar {
  background-color: hsl(60, 0%, 95%);
}

.horizontalScrollbar::-webkit-scrollbar-thumb {
  background-color: $hh-500;
}

.verticalScrollbar {
  scroll-snap-align: start;
  scroll-snap-type: y mandatory;
}
.verticalScrollbar::-webkit-scrollbar-thumb {
  border-radius: 1rem;
}

.verticalScrollbar::-webkit-scrollbar {
  border-radius: 1rem;
  width: 0.3rem;
  transition: all 1s ease-in-out;
  background-color: transparent;
}

.verticalScrollbar::-webkit-scrollbar {
  background-color: hsl(60, 0%, 95%);
}

.verticalScrollbar::-webkit-scrollbar-thumb {
  background-color: $hh-500;
}
