#spielplatz-grid {
  display: grid;
  height: fit-content;
  grid-template-columns: 1fr;
  grid-template-areas:
    "data"
    "spielgeraete"
    "flohmaerkte"
    "map";
  @media (min-width: 1024px) {
    grid-template-columns: 400px 1fr;
    gap: 1rem;
    grid-template-rows: minmax(auto, 1fr) minmax(50px, auto) minmax(auto, 1fr);
    grid-template-areas:
      "map data"
      "map spielgeraete"
      "map flohmaerkte";
  }
}

#spielplatz-spielgeraete-box {
  grid-area: spielgeraete;
}
#spielplatz-map-container {
  grid-area: map;
}
#spielplatz-data {
  grid-area: data;
  #image-container {
    grid-area: image;
  }
  #description-container {
    grid-area: description;
  }
}
#flohmaerkte-nearby {
  grid-area: flohmaerkte;
}

.spielgeraet {
  display: grid;
  grid-template-columns: 24px auto;
}
